*.Trashes
*.apk
*.booproj
*.csproj
*.opendb
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.sln
*.suo
*.svd
*.swp
*.tmp
*.unitypackage
*.unityproj
*.user
*.userprefs
.DS_Store*
.Spotlight-V100
.Trashes
._*
.vs/
Assets/AssetStoreTools*
Icon?
[Bb]uild
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Pp]ackages/
[Pp]rojectSettings/
[Tt]emp/
[Tt]humbs.db
[Tt]humbs.db Processing
[Tt]humbs.db# Processing
[Uu]nityPackageManager/
applet
application.linux32
application.linux64
application.macosx
application.windows32
application.windows64
ehthumbs.db
sysinfo.txt
